style.css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia;
}

.navbar h2 {
  float: right;
  margin-right: 20px; 
}

.main {
  width: 100%;
  background: linear-gradient(to top, rgb(121, 172, 137) 0%, rgb(165, 207, 185) 30%);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 200px;
}

.logo {
  color: #010d14;
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 40px;
  padding-top: 100px;
  margin-top: 5px;
}

.container {
  display: flex;
  align-items: center;
}

nav ul {
  font-family: Monotype Corsiva, sans-serif;
  display: flex;
}

nav ul li {
  padding: 0px 23px;
  margin: 3px;
  font-size: 23px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.5s;
}

nav ul li::after {
  content: '';
  background: rgb(247, 245, 245);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transform: top 0.5s, opacity 0.5s;
}

nav ul li:hover {
  color:rgb(247, 245, 245);
}

nav ul li:hover::after {
  top: 50%;
  opacity: 1;
}

.center {
  padding-left: 100px;
  padding-top: 100px;
}

.white-box {
  width: 1200px;
  height: 400px;
  background: linear-gradient(to top, rgb(216, 203, 140) 0%, rgb(169, 233, 200) 30%);
  border: 1px solid #0e0d0d;
  box-shadow: 0 0 10px rgba(243, 240, 240, 0.1);
}

section {
  display: none;
}

section.active {
  display: block;
}

.line {
  display: flex;
}

.line img {
  width: 140px;
  height: 160px;
  padding: 40px;
  border-radius: 50%;
}

.line h4 {
  font-family: 'Times New Roman';
  padding-left: 25px;
  color: rgb(0, 0, 0);
}

.contact-form {
  text-align: left;
  padding: 20px;
}

.form-group {
  margin: 10px 0;
}

input[type="text"],
input[type="email"],
textarea {
  width: 50%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #f3eeee;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #4d9cc9;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2b699e;
}
